* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* REM = Root EM */
:root {
    /* 16px = 1rem*/
    font-size: 62.5%;
    /* Agora 1rem equivale a 10px.
    Pois, o font-size da página foi diminuido para
    62.5% do total. Logo, 16 * 62,5% = 10.*/
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: #ECE9FD;

    padding: 6rem 2.3rem 6.6rem;
}

main {
    max-width: 32.9rem;
    margin: 0 auto;
    font-size: 1.6rem;
}

main p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #7158EF;
}

main h1 {
    margin: 1.7rem auto 1.5rem;

    font-weight: 800;
    font-size: 4rem;
    line-height: 4.8rem;
    color: #090039;
}

main p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #0A003964;
}

main a {
    display: block;
    padding: 3.2rem 0rem 7.7rem;
    
    color: #090039;
    cursor: pointer;
}

main ul {
    display: flex;
    flex-direction: column;
}

ul li span {
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8rem;
    color: #090039;

    letter-spacing: -0.2rem;
}

ul li {
    display: flex;
    flex-direction: row;
    gap: 3.8rem;
    
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #090039;
    
    max-width: 25.7rem;
}

ul li + li {
    margin-top: 2rem;
}

ul li:nth-child(1){
    gap: 5rem;
}

/* Media queries*/
@media (min-width: 768px) {
    main {
        display: flex;
        align-items: center;
        gap: 2rem;

        max-width: 102rem;
        margin: 0 auto;
    }

    .frame-one {
        max-width: 45rem;
    }

    ul li {
        gap: 3rem;
        max-width: 42rem;
    }

    ul li:nth-child(1){
        gap: 4rem;
    }

    ul li + li {
        margin-top: 1.5rem;
    }
}

@media (min-width: 1024px) {
    body {
        padding: 8rem;
    }
    
    main {
        display: flex;
        align-items: center;
        gap: 10rem;

        max-width: 102rem;
        margin: 0 auto;
    }

    .frame-one {
        max-width: 48rem;
    }

    ul li {
        align-items: center;
        gap: 3rem;
        max-width: 42rem;
        margin-top: 2rem;
    }

}